<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iitinder">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IItinder">
        <activity android:name=".OtherInterestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".chatting.MainChatActivity" android:screenOrientation="portrait"/>
        <activity android:name=".chatting.ChatActivity" android:screenOrientation="portrait"/>
        <activity android:name=".OtherProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MatchesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".profile.InterestViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".profile.ImageChangeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginSignup.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSignup.Login_phone_Activity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginSignup.Forgot_password" android:screenOrientation="portrait"/>
        <activity android:name=".LoginSignup.SignupActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginSignup.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginSignup.First_page" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RegistrationStartActivity" android:screenOrientation="portrait"/>
        <activity android:name=".InterestPickerActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>